.button {
  height: 40px;
  padding: 10px 25px;
  position: relative;
  border: 2px solid $primary;
  background: $primary;
  color: $white;
  border-radius: 20px;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  white-space: nowrap;

  .icon {
    margin-right: 12px;

    svg {
      path {
        fill: $white;
      }
    }
  }

  &:hover {
    background: $white;
    color: $primary;

    .icon svg path {
        fill: $primary;
    }
  }

  &.outlineType {
    background: $white;
    color: $primary;

    .icon svg path {
      fill: $primary;
    }

    &:hover {
      background: $primary;
      color: $white;

      .icon svg path {
        fill: $white;
      }
    }
  }

  &.lightType {
    border: 2px solid $primary-light;
    background: $primary-light;
    color: $primary;

    .icon svg path {
      fill: $primary;
    }

    &:hover {
      border: 2px solid $primary;
      background: $primary;
      color: $white;

      .icon svg path {
        fill: $white;
      }
    }
  }
}
