@import '~normalize.css';

@font-face {
  font-family: 'Mont';
  src: url('../fonts/Mont-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}
