$breakpoint-xs: 425px;
$breakpoint-sm: 767px;
$breakpoint-md: 990px;
$breakpoint-lg: 1280px;

$primary-light: #F1EDFF;
$primary: #8B65FC;
$black: #000;
$white: white;
$grey-dark: #403D37;
$grey: #797773;
$grey-light: #B6B5B3;
$background-grey: #F8F7F7;