.main {
  width: 100%;
  height: calc(100vh - 142px);
  overflow-y: auto;
  position: relative;
  display: flex;

  @media (max-width: 1200px) {
    flex-direction: column;
  }

  @include tablet() {
    height: calc(100vh - 200px);
  }

  @include mob() {
    height: auto;
  }
}

.sidebar {
  width: 340px;
  height: 100%;
  padding: 40px;
  position: absolute;
  top: 0;
  left: 0;

  @media (max-width: 1380px) {
    position: static;
  }

  @media (max-width: 1200px) {
    width: 100%;
    max-width: 730px;
    margin: 0 auto;
    padding: 20px;
    height: auto;
  }

  .category {
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 12px;
    line-height: 0;
    font-weight: 700;
    cursor: pointer;

    .icon {
      margin-right: 12px;

      svg path {
        fill: $black;
      }
    }

    &.active {
      background: $primary-light;
      color: $primary;

      .icon svg path {
        fill: $primary;
      }
    }
  }
}

.content {
  width: 730px;
  margin: 0 auto;
  height: 100%;
  padding: 40px 0;

  @media (max-width: 1380px) {
    margin: 0;
  }

  @media (max-width: 1200px) {
    width: 100%;
    max-width: 730px;
    padding: 20px 80px;
    margin: 0 auto;
  }

  @include mob() {
    padding: 20px 40px;
  }

  .inner {
    height: 100%;
  }
}
