.categoryItemsWrap {
  margin-bottom: 24px;
}

.categoryTitle {
  font-weight: 700;
  font-size: 18px;
  color: $grey;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.categorySubtitle {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: $grey;
  margin-bottom: 16px;
}

.imagesWrap {
  display: flex;
}

.noSliderMode {
  .imageItem {
    margin-right: 14px;
  }
}

.imageItem {
  width: 170px !important;

  &:last-child {
    margin-right: 0;
  }

  .imageWrap {
    width: 100%;
    height: 120px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background: $grey;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .favoriteWrap {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 10;
      cursor: pointer;

      svg path {
        fill: #FCCA65;
      }
    }
  }

  .info {
    padding-top: 16px;
    font-weight: 700;
    color: $grey-dark;

    .infoTitle {
      font-size: 16px;
      margin-bottom: 4px;
    }

    .infoSubtitle {
      font-size: 12px;
    }
  }
}

.carousel {
  width: 100%;

  [class*="slick-track"] {
      display: flex !important;
      align-items: stretch;

      @include mob() {
          width: 100% !important;
          display: flex;
      }
  }

  [class*="slick-slide"] {
      display: flex;
      height: auto;
      margin-right: 14px;
  }

  [class*="slick-list"] {
      padding: 7px;
      margin: auto;
  }

  [class*="slick-slider"] {
      display: block;
      height: auto;
      margin-right: 0
  }

  [class*="fromSlider"] {
      height: 100%;
  }
}

.prevArrow,
.nextArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $black;
    z-index: 99;
    position: absolute;
    top: 75px;

    @include mob() {
      width: 20px;
      height: 20px;
    }

    &::before {
        content: none;
    }
}

.prevArrow {
    left: -60px !important;

    @include mob() {
      left: -30px !important;
    }
}

.nextArrow {
    right: -60px !important;

    @include mob() {
      right: -30px !important;
    }

    svg {
        transform: rotate(-180deg);
    }
}
