.header {
  width: 100%;
  height: 62px;
  border-bottom: 1px solid $black;
  position: relative;
  padding: 20px 0;

  @include tablet() {
    height: 120px;
  }

  @include mob() {
    height: auto;
  }
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;

  @include tablet() {
    flex-direction: column;
  }
}

.innerFlexWrap {
  display: flex;
  align-content: center;
}

.leftColumnWrap,
.centerColumnWrap,
.rightColumnWrap {
  display: flex;
  align-items: center;
}

.leftColumnWrap {
  width: 320px;
}

.centerColumnWrap {
  width: 730px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 1380px) {
    width: auto;
    position: static;
    transform: none;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}

.buttonsWrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > div {
    margin-left: 10px;
  }

  @include tablet() {
    > div {
      margin-left: 0;
      margin-right: 10px;
    }
  }

  @include mob() {
    margin-top: 8px;

    > div {
      margin-top: 10px;
    }
  }
}
