.footer {
  width: 100%;
  height: 80px;
  background: $primary-light;

  @include mob() {
    height: auto;
    padding: 20px;
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mob() {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.info {
  margin-right: 27px;
  margin-bottom: 12px;
}

.title {
  font-weight: 700;
}
